.btn{
	min-width: 100px;
}
.btn-primary-light {
    color: #fff;
    background-color: #3ba3ff;
    border-color: #3ba3ff;
}
.btn-primary-light:hover,
.btn-primary-light:focus,
.btn-primary-light.focus,
.btn-primary-light:active,
.btn-primary-light.active,
.open > .btn-primary-light.active,
.open > .dropdown-toggle.btn-primary-light {
    color: #fff;
    background-color: #54aaff;
    border-color: #54aaff;
}
.btn-dark {
	color: #fff;
	background-color: #1669ba;
	border-color: #1669ba;
}
.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    color: #fff;
    background-color: #2177c2;
    border-color: #2177c2;
}
.btn.btn-icon.btn-link {
	color: #616366;
}
.btn.btn-icon.btn-link:hover,
.btn.btn-icon.btn-link:active,
.btn.btn-icon.btn-link.active {
	color: #1e88e5;
}
.open .btn.btn-icon.btn-link,
.open .btn.btn-icon.btn-link:active,
.confirmation-open .btn.btn-icon.btn-link,
.confirmation-open .btn.btn-icon.btn-link:active {
	background-color: #edf0f2;
}
.btn.btn-light {
	color: #fff;
	background-color: rgba(255,255,255, 0.2);
	border-color: transparent;
}
.btn.btn-light.btn-outline {
	border-color: rgba(255,255,255, 0.2);
}
.btn.btn-light:hover {
	color: #fff;
	background-color: rgba(255,255,255, 0.2);
	border-color: transparent;
}
.btn.btn-outline,
.btn.btn-outline.disabled,
.btn.btn-outline[disabled],
.btn.btn-outline.disabled:hover,
.btn.btn-outline[disabled]:hover,
.btn.btn-outline.disabled:focus,
.btn.btn-outline[disabled]:focus,
.btn.btn-outline.disabled.focus,
.btn.btn-outline[disabled].focus,
.btn.btn-outline.disabled:active,
.btn.btn-outline[disabled]:active,
.btn.btn-outline.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn.btn-outline,
fieldset[disabled] .btn.btn-outline:hover,
fieldset[disabled] .btn.btn-outline:focus,
fieldset[disabled] .btn.btn-outline.focus,
fieldset[disabled] .btn.btn-outline:active,
fieldset[disabled] .btn.btn-outline.active {
	background: transparent;
	box-shadow: none;
}
.btn-xlg,
.btn-group-xlg > .btn {
	height: 62px;
	min-width: 120px;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 500;
}
.btn-lg,
.btn-group-lg > .btn {
	height: 56px;
	min-width: 120px;
	padding: 15px 30px;
	font-size: 16px;
	font-weight: 500;
}
.btn.btn-circle {
	min-width: 0;
	padding-right: 0;
	padding-left: 0;
	-wbekit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
.btn.btn-circle {
	width: 50px;
}
.btn.btn-circle.btn-lg {
	width: 56px;
}
.btn.btn-circle.btn-sm {
	height: 42px;
	width: 42px;
}
.btn.btn-circle.btn-xs {
	width: 36px;
}
.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,

fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
	> *{
		color: #fff;
		}
	color: #fff;
	background-color: #1e88e5;
	border-color: #1e88e5;
}
.btn-primary:hover {
	> *{
		color: #fff;
		}
	color: #fff;
	background-color: #3ba3ff;
	border-color: #3ba3ff;
}
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary,
.open > .dropdown-toggle.btn-primary {
	> *{
		color: #fff;
		}
	color: #fff;
	background-color: #1b7cd1;
	border-color: #1b7cd1;
}
.btn-primary.btn-outline,
.btn-primary.btn-outline.disabled,
.btn-primary.btn-outline[disabled],
.btn-primary.btn-outline.disabled:hover,
.btn-primary.btn-outline[disabled]:hover,
.btn-primary.btn-outline.disabled:focus,
.btn-primary.btn-outline[disabled]:focus,
.btn-primary.btn-outline.disabled.focus,
.btn-primary.btn-outline[disabled].focus,
.btn-primary.btn-outline.disabled:active,
.btn-primary.btn-outline[disabled]:active,
.btn-primary.btn-outline.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.btn-outline,
fieldset[disabled] .btn-primary.btn-outline:hover,
fieldset[disabled] .btn-primary.btn-outline:focus,
fieldset[disabled] .btn-primary.btn-outline.focus,
fieldset[disabled] .btn-primary.btn-outline:active,
fieldset[disabled] .btn-primary.btn-outline.active {
	> *{
		color: #1e88e5;
		}
	color: #1e88e5;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:active,
.btn-primary.btn-outline.active,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline.focus,
.open > .btn-primary.btn-outline,
.open > .dropdown-toggle.btn-primary.btn-outline {
	background-color: #1e88e5;
	border-color: #1e88e5;
	> *{
		color: #fff;
		}
	color: #fff;
}
.btn-primary-light {
	> *{
		color: #fff;
		}
	color: #fff;
	background-color: #3ba3ff;
	border-color: #3ba3ff;
}
.btn-primary-light:hover,
.btn-primary-light:focus,
.btn-primary-light.focus,
.btn-primary-light:active,
.btn-primary-light.active,
.open > .btn-primary-light.active,
.open > .dropdown-toggle.btn-primary-light {
	> *{
		color: #fff;
		}
	color: #fff;
	background-color: #54aaff;
	border-color: #54aaff;
}