$f-link: #616366;
$f-link-hover: #1e88e5;

.f-link{
    a{
        @include txt-color($f-link, $f-link-hover);
        display: block;
        padding: 5px 15px;
    }
}
.f-social{
    a{
        .fa-circle{
            color: $nocolor;
            border: 1px solid #1e88e5;
            border-radius: 50%;
            @include effect;
        }
        
        .fab{
            color: #1e88e5;
            @include effect;
        }
        &:hover{
            .fa-circle{
                color: #1e88e5;
                border: 0;
            }
            .fab{
                color: #fff;
            }
        }
    }
}