.input-lg {
    height: 56px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 3px;
}
.input-overlay, .input-overlay:focus{
    border: 0;
    box-shadow: none;
    background-color: rgba(0,0,0, 0.2);
    color: #fff;
}

input[type=checkbox]:checked + .is-onoff{
    background-color: #1a78cf;
    color: #fff;
    &::after{
        animation: .3s ease-in-out forwards isCheckbox;
    }
    &::before{
        content: 'ON';
        left: 8px;
        right: unset;
    }
}
input[type=checkbox]:not(:checked) + .is-onoff{
    &::after{
        animation: .3s ease-in-out forwards unIsCheckbox;
    }
}
.form-control.sign-form{
    background-color: rgba(0,0,0, 0.2);
    border: 0;
    color: #fff;
    &::placeholder{
        color: rgba(196, 227, 255, 0.8);
    }
    &:focus{
        box-shadow: 0 10px 10px rgba(0,0,0, 0.11) inset;
    }
}
.is-float{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    > input, select{
        height: 50px;
        padding-top: 15px;
        outline: none;
        box-shadow: none;
        &:focus{
            border-color: var(--primary);
        }
        &[type=number]{
            appearance: textfield;
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            -ms-appearance: textfield;
            -o-appearance: textfield;
        }
    }
    > label{
        position: absolute;
        pointer-events: none;
        top: 50%;
        left: 15px;
        font-size: 14px;
        transform: translateY(-50%);
        transition: all 0.2s ease-in-out;
        color: #444;
    }
    > input:focus + label:not(.active), > input + label.active{
        font-size: 11px;
        top: 20%;
        font-weight: bold;
    }
    [uk-dropdown] {
    background: white;
    margin-top: 0;
        ul {
            overflow-y: auto;
            max-height: 180px;
            display: block;
            border-radius: 0;
            li,
            a {
                display: block;
            }
            a {
                padding: 10px;
            &:hover {
                background-color: #1a78cf;
                color: #fff;
                }
                &.active {
                    background-color: #ddd;
                }
            }
        }
    }
    select{
        padding-top: 0;
    }
}
.card_radio{
    input{
        display: none;
    }
    label{
        border: 1px solid #999;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        font-size: 18px;
        color: #616366;
        font-weight: bold;
        line-height: 54px;
        height: 54px;
        width: 100%;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        &:hover{
            border-color: var(--primary);
        }
    }
    input[type=radio]:checked + label{
        color: #ffffff;
        border: none;
        background: linear-gradient(45deg, #135FAC 1%, #1e88e5 64%, #1E87E3 97%);
        -webkit-box-shadow: 0 5px 30px -5px rgba(37, 45, 51, .5);
        box-shadow: 0 5px 30px -5px rgba(37, 45, 51, .5)
    }
}