nav{
    >ul>li{
        a{
            display: block;
            @include txt-color($h-link, $h-link-hover);
            @include md{
                font-weight: bold;
                padding: $h-link-padding-md;
                &:not(.btn){
                    display: block;
                }
                &.btn{
                    font-size: $h-fontsize-md;
                    padding: $h-btn;
                }
            }
            @include sm{
                padding: $h-link-padding-sm;
                border-bottom: 1px solid rgba($color: #fff, $alpha: .3);
            }
        }
    }
}
.uk-dropdown{
    background-color: $nocolor;
    &.uk-open{
        @include sm{
            position: static;
            display: block;
            width: 100%;
        }
    }
    @include md{
        min-width: 200px;
        box-shadow: 0 10px 40px -5px rgba(37,45,51, .25);
    }
    ul{
        position: relative;
        background-color: #fff;
        @include md{
            border-radius: 5px;
        }
        &::before{
            content: '';
            @include arrow('top', 10px, #fff);
            top: -10px;
            left: 50px;
            position: absolute;
        }
    }
    li {
        > a{
            @include txt-color($h-drop-link, $h-drop-link-hover);
            @include md{
                padding: $h-drop-padding;
            }
            @include sm{
                padding: $h-link-padding-sm;
            }
        }
        &:not(:last-child){
            a{
                border-bottom: 1px solid rgba($color: #ddd, $alpha: .5);
            }
        }
    }
}
.uk-offcanvas-bar{
    @include sm{
        background-image: $linear-bg;
    }
}