$fas: "FontAwesome";

.u-header{
    background: transparent linear-gradient(80deg, #29D321 1%, #05b030 99%) repeat scroll 0% 0%;
    @include md{
        min-width: 110px;
        min-height: 100vh;
        height: 100%;
    }
    @include sm{
        position: relative;
        .u-toggle-nav{
            position: absolute;
            top: 50%;
            right: 15px;
            color: #fff;
            transform: translateY(-50%);
        }
    }
    .u-logo{
        text-align: center;
        display: block;
        padding: 15px;
        img{
            max-width: 40px;
        }
    }
}
.u-nav{
    @include sm{
        padding: 15px 0;
    }
    a{
        display: block;
        @include txt-color(#ddd, #fff);
        @include md{
            padding: 15px;
            text-align: center;
            i{
                padding-bottom: 5px;
            }
        }
        @include sm{
            padding: 8px 15px;
            i{
                min-width: 30px;
            }
        }
        &.active{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                @include arrow(left, 10px, #fff);
            }
        }
    }
}
.u-card{
    box-shadow: 0 5px 30px -5px rgba(37, 45, 51, 0.5);
    margin: 0px;
    padding: 15px;
    background-color: #1e88e5;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #135fac 1%, #1e88e5 64%, #1e87e3 97%) repeat scroll -1px center / 102% 102%;
    color: rgba(196, 227, 255, 0.8);
    border-width: 0px;
    border-radius: 3px;
}
.u-tabs{
    border-bottom: 1px solid #ddd;
    a{
        position: relative;
        display: block;
        text-align: center;
        @include txt-color(#888, #333);
        @include md{
            padding: 10px 15px;
        }
        @include sm{
            font-size: 80%;
            padding: 10px 5px;
        }
        &::before{
            content: '';
            position: absolute;
            bottom: -1px;
            width: 100%;
            left: 0;
            height: 2px;
            background-color: #29D321;
            transform: scaleX(0);
            transition: all .3s ease-in-out;
        }
        .gh-label{
            display: inline-block;
            position: absolute;
            top: -10px;
            @include md{
                right: 0;
            }
            @include sm{
                right: -5px;
            }
            small{
                position: relative;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-top-right-radius: 5px;
                font-size: 11px;
                padding: 3px 6px;
                z-index: 0;
                &::before{
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: -8px;
                    z-index: -1;
                }
            }
            &.gh-warning{
                small{
                    background-color: var(--warning);
                    color: #fff;
                    &::before{
                        border-style: solid;
                        border-width: 8px 0 8px 8px;
                        border-color: transparent transparent transparent #cc7700;
                    }
                }
            }
            &.gh-danger{
                small{
                    background-color: var(--danger);
                    color: #fff;
                    &::before{
                        border-style: solid;
                        border-width: 8px 0 8px 8px;
                        border-color: transparent transparent transparent #c0392b;
                    }
                }
            }
            &.gh-success{
                small{
                    background-color: var(--success);
                    color: #fff;
                    &::before{
                        border-style: solid;
                        border-width: 8px 0 8px 8px;
                        border-color: transparent transparent transparent #208d4e;
                    }
                }
            }
            &.gh-primary{
                small{
                    background-color: var(--primary);
                    color: #fff;
                    &::before{
                        border-style: solid;
                        border-width: 8px 0 8px 8px;
                        border-color: transparent transparent transparent #2980b9;
                    }
                }
            }
            &.gh-danger{
                small{
                    background-color: var(--danger);
                    color: #fff;
                    &::before{
                        border-style: solid;
                        border-width: 8px 0 8px 8px;
                        border-color: transparent transparent transparent #c0392b;
                    }
                }
            }
        }
    }
    .uk-active{
        a{
            color: #29D321;
            &::before{
                transform: scaleX(1);
            }
        }
    }
}
.u-bill{
    .uk-tab-right{
        li{
            a{
                display: inline-block;
                position: relative;
                padding: 5px 0;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: var(--primary);
                    transition: width .3s ease;
                }
            }
            &.uk-active{
                a{
                    color: var(--primary);
                    font-weight: bold;
                    &::before{
                        width: 100%;
                    }
                }
            }
        }
    }
}
.u-tabs-body{
    @include md{
        padding: 30px 15px;
    }
    @include sm{
        padding: 15px;
        .btn{
            font-size: 80%;
        }
    }
}
.is-onoff{
    position: relative;
    background-color: #ddd;
    color: #000;
    font-size: 10px;
    width: 55px;
    height: 25px;
    border-radius: 30px;
    display: inline-block;
    &::before, &::after{
        content: '';
        position: absolute;
    }
    &::before{
        content: 'OFF';
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        font-weight: 700;
    }
    &::after{
        width: 23px;
        height: 23px;
        background-color: #fff;
        border-radius: 25px;
        top: 1px;
        left: 2px;
    }
}

.u-faq-cate{
    border: 1px solid #ddd;
    display: block;
    > *{
        color: #333;
        transition: all .2s ease-in-out;
    }
    &:hover{
        border-color: var(--primary);
        > *{
            color: var(--primary);
        }
    }
}
.ac-question{
    font-family: Arial, Helvetica, sans-serif;
    > li{
        &.uk-open{
            > .uk-accordion-title{
                font-weight: 700;
                color: var(--primary);
                &::before{
                    content: '\f068';
                }
            }
        }
        > .uk-accordion-title{
            font-size: 17px;
            &::before{
                content: "\f067";
                font-family: $fas;
                padding-right: 8px;
            }
        }
    }

    .uk-accordion-content{
        padding-left: 20px;
    }
}
.order_card{
    box-sizing: border-box;
    .deloy_info{
        position: fixed;
        bottom: 0px;
        right: 0px;
        background-color: #ffffff;
        color: #000000;
        box-shadow: 0 0 40px -10px rgba(37,45,51, .3);
        z-index: 1000;
        @include md{
            left: 111px;
        }
        @include sm{
            left: 0;
            width: 100%;
        }
        .deloy_label{
            display: block;
            color: #9da2a6;
            font-size: 13px;
            margin-bottom: 3px;
        }
        .input-group{
            display: inline-flex;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            .input-group-text{
                border: 0;
                background-color: $nocolor;
                font-size: 10px;
                >*{
                    color: #333;
                }
            }
            input{
                text-align: center;
                border: 0;
                &:focus{
                    box-shadow: none;
                }
            }
            .form-control{
                width: 40px;
            }
        }
        .order-total{
            color: #1e88e5;
            font-size: 26px;
            font-weight: 500;
        }
        span.sumary{
            color: #1e88e5;
            font-size: 18px;
            font-weight: 300;
        }
        .sub-total{
            display: inline-block;
            color: #909090;
            font-size: 14px;
            font-weight: 300;
            margin-left: 8px;
        }
    }
}
.check-icon{
    display: inline-block;
    width: 54px;
    height: 36px;
    &.check-icon-{
        &jp{
            background-image: url('~/contents/images/flags/flag_jp.png');
        }
        &au{
            background-image: url('~/contents/images/flags/flag_au.png');
        }
        &fr{
            background-image: url('~/contents/images/flags/flag_fr.png');
        }
        &gb{
            background-image: url('~/contents/images/flags/flag_gb.png');
        }
        &nl{
            background-image: url('~/contents/images/flags/flag_nl.png');
        }
        &sg{
            background-image: url('~/contents/images/flags/flag_sg.png');
        }
        &us{
            background-image: url('~/contents/images/flags/flag_us.png');
        }
    }
}
.deploy_block{
    position: relative;
    margin-bottom: 30px;
    @include md{
        padding-left: 60px;
    }
}
.section-number{
    text-align: center;
    span{
        border: 1px solid #D2D8DC;
        border-radius: 50%;
        display: inline-block;
        font-size: 13pt;
        height: 45px;
        width: 45px;
        font-weight: bold;
        line-height: 2.5;
        color: #333;
    }
}
.section-title{
    font-weight: 600;
    font-size: 13pt;
    color: #333;
}
.u-option{
    background-color: #fff;
    border: 1px solid #e6e9eb;
    border-radius: 3px;
    cursor: pointer;
    .u-option-icon{
        position: relative;
        > * {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        img{
            max-width: 60px;
            width: 100%;
        }
    }
    .u-option-content{
        padding: 25px 15px;
        position: relative;
        span{
            &:first-child{
                font-weight: bold;
                display: block;
            }
            &:last-child{
                color: #999;
                font-size: 12px;
            }
        }
    }
    &:hover{
        border-color: var(--primary);
    }
    &.active{
        background: linear-gradient(45deg, #135FAC 1%, #1e88e5 64%, #40BAF5 97%);
        border-width: 0px;
        box-shadow: 0 5px 30px -5px rgba(37,45,51, .5);
        span{
            color: #fff!important;
            &.fa-stack{
                animation: 0.4s ease-in-out forwards showCheck;
                i{
                    &.fa-circle{
                        color: #1a78cf!important;
                    }
                }
            }
        }
        .option-list{
            color: #fff;
        }
    }
    .option-list{
        padding: 8px;
        position: static;
    }
    &.u-type-select{
        position: absolute;
        width: 100%;
    }
}
.server-size{
    border: 1px solid #e6e9eb;
    text-align: center;
    border-radius: 5px;
    span{
        display: block;
    }
    .server-header{
        border-bottom: 1px solid #e6e9eb;
        padding: 15px 0 8px 0;
        span{
            &:nth-child(1) {
                font-size: 15px;
                font-weight: bold;
            }
            &:nth-child(2){
                color: var(--primary);
                padding: 10px 0;
                span{
                    display: inline;
                    font-weight: bold;
                    @include md{
                        font-size: 28px;
                    }
                    @include sm{
                        font-size: 20px;
                    }
                }
            }
            &:nth-child(3){
                opacity: .6;
            }
        }
    }
    .server-body{
        padding: 8px 0 15px 0;
        span{
            padding: 5px;
        }
    }
    &:hover{
        border-color: var(--primary);
        .server-header{
            border-bottom-color: var(--primary);
            border-bottom-style: dotted;
        }
    }
}
input[type=radio]:checked + label.server-size{
    border-width: 0;
    box-shadow: 0 5px 30px -5px rgba(37,45,51, .5);
    background-image: linear-gradient(45deg, #135FAC 1%, #1e88e5 64%, #40BAF5 97%);
    span {
        color: #fff!important;
    }
    .server-header{
        border-bottom-color: #1669b5;
        border-bottom-style: solid;
    }
}
.fo-md {
    &::before {
        @include md {
            font-size: 24px;
        }
        @include sm {
            font-size: 16px;
        }
    }
}
.fo-2x{
  &::before {
      @include md {
          font-size: 24px;
      }
      @include sm {
          font-size: 36px;
      }
  }
}
.is-server-table{
  th{
    color: #999;
  }
  td:last-child{
    text-align: right;
  }
  &-info{
    @include md{
      font-size: 12pt;
    }
    @include sm{
      font-size: 10pt;
    }
  }
}
.is-table-subs{
  position: absolute;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 5px 5px 10px #ddd;
  z-index: 10;
  max-width: 150px;
  overflow: hidden;
  li{
    &:first-child{
      border-bottom: 1px solid #ddd;
      a{
        @include txt-color(var(--primary), var(--dark));
      }
    }
    &:last-child{
      background-color: var(--danger);
      a{
        @include txt-color(#fff, #ddd);
      }
    }
    a{
      text-align: left;
      display: block;
      padding: 10px 4px;
      font-size: 10pt;
      @include txt-color(#888, #0088dd);
    }
  }
}
